<h1>Contact</h1>
<p>We love to provide you with the bike you always wanted for more than 20 years now!</p>
<p>You can find us in Berlin, close to the Alexanderplatz and can call us during our working hours.
</p>
